# ==========================================
# CONFIGURAÇÕES DA API (BACKEND)
# ==========================================
# Padrão para uso com Docker (via Nginx Proxy):
VITE_API_URL=/api

# Apenas se for rodar o frontend localmente fora do Docker (npm run dev):
# VITE_API_URL=http://localhost:3002

# ==========================================
# CONFIGURAÇÕES DO AMBIENTE
# ==========================================
NODE_ENV=development