# ==========================================
# CONFIGURAÇÕES DO SERVIDOR
# ==========================================
NODE_ENV=development
PORT=3000


# ==========================================
# SEGURANÇA E AUTENTICAÇÃO
# ==========================================
# Dica: Podes gerar uma chave segura executando no terminal: openssl rand -hex 32
JWT_SECRET=sua_chave_jwt_super_segura_aqui


# ==========================================
# BANCO DE DADOS (MARIADB / DOCKER)
# ==========================================
# Use 'db' para Docker Compose ou 'localhost' para ambiente local sem Docker:
DB_HOST=db
DB_USER=techstore_user
DB_PASSWORD=sua_senha_aqui
DB_NAME=techstore_v2
DB_PORT=3306

# STRING DE CONEXÃO DO PRISMA (Interpolação dinâmica das variáveis acima)
DATABASE_URL=mysql://${DB_USER}:${DB_PASSWORD}@${DB_HOST}:${DB_PORT}/${DB_NAME}